body {
	background: rgb(222,184,135);
	font-family: 'Lobster Two', cursive;
}

h1 {
	text-align: center;
}

#outer {
	width: 600px;
	height: 600px;
	border: 1px solid black;
	position: relative;
	background: rgb(255,255,224);
	margin: auto;
}

#blue {
	width: 75px;
	height: 75px;
	position: absolute;
	background: blue;
	opacity: .8;
}

#yellow {
	width: 75px;
	height: 75px;
	position: absolute;
	background: yellow;
	right: 0;
	bottom: 0;
	opacity: .8;
}

#red {
	width: 75px;
	height: 75px;
	position: absolute;
	background: red;
	left: 0;
	bottom: 0;
	opacity: .8;
}

#green {
	width: 75px;
	height: 75px;
	position: absolute;
	background: green;
	right: 0;
	top: 0;
	opacity: .8;
}

button {
	position: relative;
	left: 600px;
	margin: 20px;
	height: 75px;
	width: 200px;
	font-size: 2em;
}